.angular
/dist
/node_modules
/e2e

/.vscode
/.idea
/.editorconfig
*.iml

Thumbs.db
.DS_Store

package-lock.json
yarn.lock

.env
.env.prod
.env.prod.local
.env.local

*.bak
*.log
npm-debug.log*
/debug
/dist
/tmp


/coverage
/.nyc_output
/jest.config.js

/*.js
/*.js.map
/*.d.ts

*.tsbuildinfo
*.tsbak

package-lock.json
/assets/.getkeep
.vercel
